<div class="container main-container animated fadeIn fast">
    <div class="row mt-5">
        <div class="col-md-12">
            <div class="form-group">
                <label class="mt-5 h3">Buscar</label>
                <input
                  class="form-control"
                  type="text"
                  name="buscar"
                  placeholder="Buscar película"
                  [(ngModel)]="buscar"
                  (keyup.enter)="buscarPelicula()">
            </div>
        </div>
    </div>

    <div
      class="container-fluid d-flex justify-content-center align-items-center"
      *ngIf="loading">
        <img class="img-loader" src="./assets/loading.svg" >
    </div>

    <div class="row my-5" *ngIf="!loading">
        <div class="card-columns">

            <div
              class="card-expand"
              *ngFor="let pelicula of movies">
              <div class="poster"><img [src]="pelicula | images" [alt]="pelicula.original_title"></div>
              <div class="details">
                <h2><b>{{pelicula.original_title}}</b><br><span>{{pelicula.release_date | date:'MMMM y'}}</span></h2>

                <div class="rating" *ngIf="(pelicula.vote_average | number:'.0-0') == '0'">
                  <i class="far fa-star" aria-hidden="true"></i>
                  <span>{{pelicula.vote_average}}/10</span>
                </div>

                <div class="rating" *ngIf="(pelicula.vote_average | number:'.0-0') == '2' || (pelicula.vote_average | number:'.0-0') == '1'">
                  <i class="fas fa-star-half-alt" aria-hidden="true"></i>
                  <span>{{pelicula.vote_average}}/10</span>
                </div>

                <div class="rating" *ngIf="(pelicula.vote_average | number:'.0-0') == '4' || (pelicula.vote_average | number:'.0-0') == '3'">
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <span>{{pelicula.vote_average}}/10</span>
                </div>

                <div class="rating" *ngIf="(pelicula.vote_average | number:'.0-0') == '5' || (pelicula.vote_average | number:'.0-0') == '6'">
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <span>{{pelicula.vote_average}}/10</span>
                </div>

                <div class="rating" *ngIf="(pelicula.vote_average | number:'.0-0') == '7'">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <span>{{pelicula.vote_average}}/10</span>
                </div>

                <div class="rating" *ngIf="(pelicula.vote_average | number:'.0-0') == '8' || (pelicula.vote_average | number:'.0-0') == '9'">
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fas fa-star-half-alt" aria-hidden="true"></i>
                  <span>{{pelicula.vote_average}}/10</span>
              </div>

              <div class="rating" *ngIf="(pelicula.vote_average | number:'.0-0') == '10'">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <span>{{pelicula.vote_average}}/10</span>
              </div>

                <div class="info mb-2" *ngIf="pelicula.overview.length > 0">
                  <p>{{pelicula.overview | slice:0:170}}...</p>
                </div>

                <div class="info mb-2" *ngIf="pelicula.overview.length == 0">
                  <p>Sin descripción</p>
                </div>

                <button
                  [routerLink]="['/pelicula', pelicula.id, 'buscar', buscar]"
                  class="puntero btn btn-block btn-info">Ver más</button>
              </div>
            </div>

        </div>
        <h3 *ngIf="movies.length === 0 && !error && noMoviesMatch">No existen resultados para la búsqueda!</h3>
        <div class="row w-100 justify-content-center">
          <div class="row" *ngIf="error">
            <button (click)="buscarPelicula()" class="puntero btn btn-block btn-info">Reintentar búsqueda</button>
          </div>
        </div>
    </div>
  </div>
