<h1 class="mt-5">{{titulo}}</h1>
<hr>

<div class="row animated fadeIn fast" *ngIf="movies">
    <div class="col-sm-6">
        <div class="row">
            <div class="col-sm-6 div-pic-2 puntero" [routerLink]="['/pelicula', movies[0].id, 'home']" routerLinkActive="router-link-active" [ngStyle]="{'background-image': 'url( '+ (movies[0] | images) +' )'}">
                <p class="pic-titulo">{{movies[0].original_title}}</p>
            </div>
            <div class="col-sm-6 div-pic-2 puntero" [routerLink]="['/pelicula', movies[1].id, 'home']" [ngStyle]="{'background-image': 'url( '+ (movies[1] | images) +' )'}">
                <p class="pic-titulo">{{movies[1].original_title}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 div-pic-1 puntero" [routerLink]="['/pelicula', movies[2].id, 'home']" [ngStyle]="{'background-image': 'url( '+ (movies[2] | images) +' )'}">
                <p class="pic-titulo">{{movies[2].original_title}}</p>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="row">
            <div class="col-sm-12 div-pic-1 puntero" [routerLink]="['/pelicula', movies[3].id, 'home']" [ngStyle]="{'background-image': 'url( '+ (movies[3] | images) +' )'}">
                <p class="pic-titulo">{{movies[3].original_title}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 div-pic-2 puntero" [routerLink]="['/pelicula', movies[4].id, 'home']" [ngStyle]="{'background-image': 'url( '+ (movies[4] | images) +' )'}">
                <p class="pic-titulo">{{movies[4].original_title}}</p>
            </div>
            <div class="col-sm-6 div-pic-2 puntero" [routerLink]="['/pelicula', movies[5].id, 'home']" [ngStyle]="{'background-image': 'url( '+ (movies[5] | images) +' )'}">
                <p class="pic-titulo">{{movies[5].original_title}}</p>
            </div>
        </div>

    </div>
</div>
