body{
  /* padding-bottom: 150px; */
  font-family: 'Quicksand', sans-serif;
  background: #0c0b0b;
  color: #FFF;
}

hr {
  border-color: #4a4a4a;
}

.main-container{
  /* margin-bottom: 150px; */
}

.puntero{
  cursor: pointer;
}

.title {
  letter-spacing: 3px;
}

.div-pic-1{
  width: 100%;
  height: 300px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.pic-titulo{
  position: absolute;
  bottom: 0px;
  left: 10px;
  padding: 10px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}

.div-pic-2{
  width: 100%;
  height: 200px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}



/* Animaciones */
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fast {
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px grey;
  border-radius: 2px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #6bf5e0;
  border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #6bf5e0;
}

::selection {
  background-color: #6bf5e0;
  color: #ffffff;
}

::-moz-selection {
  background-color: #6bf5e0;
  color: #ffffff;
}

a {
  text-decoration: none;
  color: #130017;
}

a:hover {
  color: #130017;
  text-decoration: none;
}

a:focus {
  outline: none;
  text-decoration: none;
}

mark {
  background: rgb(16, 255, 223);
  border-radius: 5px;
  font-family: 'Caveat', sans-serif;
  font-weight: 500;
}

.btn-info, .btn-info:hover {
  background-color: transparent !important;
  border: 1px solid #ffffff54 !important;
  color: #6bf5e0 !important;
}

.btn-info-dark {
  background-color: #fff;
  border: 1px solid #000 !important;
  color: #000;
}
.btn-info-dark:hover {
  background-color: #000;
  border: 1px solid #000 !important;
  color: #fff;
}
.img-loader {
  margin-top: 200px;
  margin-bottom: 150px;
}

.m-100 {
  margin-top: 100px !important;
}

.info-movie {
  overflow-y: scroll !important;
  height: 610px;
}

.img-thumbnail {
  background-color: #0c0b0b !important;
  border: none !important;
}